
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
   
    <title>Title: PyScript</title>
</head>

<style>
  .card {
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
    width: 40%;
  }
  
  .card:hover {
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
  }
  
  .container {
    padding: 2px 16px;
  }
  </style>
<body>
  <h1>yooo</h1>



<button type="button" onclick="">see data </button>
<button type="button" onclick="">send mail </button>
<div id="test">

</div>



 
</div>
  
  
  <script src="https://cdnjs.cloudflare.com/ajax/libs/axios/1.0.0-alpha.1/axios.min.js" crossorigin="anonymous"
  referrerpolicy="no-referrer"></script>
</body>
<script>



var data = '';
let headersList = {
 "Accept": "*/*",
 "Authorization": "Token 78edb129dc27b9928759f79565d875391cb55f3b" 
}
let testinfo=document.getElementById("test")
var config = {
  url: "https://contactformapiwix.herokuapp.com/showdata/",
  method: "GET",
  headers: headersList,
}
  

axios(config)
.then(function (response) {
  console.log(JSON.stringify(response.data));
  let data=response.data; 

  console.log(response.data.length)
  data.forEach(function(item){
    var system=`<p> ${item.title}</p>`
    testinfo.innerHTML += system

  }
  
  )
})
.catch(function (error) {
  console.log(error);
});


</script>


</html>
